   {% extends "profile/dashboard.html" %}             
   
   {% block dashboardsection%}
   <div class="dashboard-section dashboard-recent-activity">

        <h4 class="title">Favourites</h4>
        <div class="activity-list">
        <i class="fas fa-bolt"></i>
        <div class="content">
            <h5>The Best News APp!</h5>
            <span class="time">5 hours ago</span>
        </div>
        <div class="close-activity">
            <i class="fas fa-times"></i>
        </div>
        </div>


    </div>
</div>
{% endblock %}

