{% extends "profile/dashboard.html" %}
              {% block dashboardsection %}


             
                  
                  <div class="bookmark-area">
 
                    <div class="job-list">
                      <div class="thumb">
                        <a href="#">
                          <img src="/static/images/job/company-logo-2.png" class="img-fluid" alt="">
                        </a>
                      </div>
                      <div class="body">
                        <div class="content">
                          <h4><a href="#">This is a news</a></h4>
                          <div class="info">
                           <p class="deadline">Added: Oct 31,  2020</p>
                          </div>
                        </div>
                        <div class="more">

                          <a href="#" class="bookmark-remove"><i class="fas fa-times"></i></a>
                        </div>
                      </div>
                    </div>



                    </div>
                  </div>
            
              {% endblock %}