gunicorn
Flask
requests
itsdangerous
Jinja2
MarkupSafe
Werkzeug
newsapi-python==0.2.3
mysql-connector-python
flask_simple_geoip
datetime
openweather
flask_mail
nltk
vaderSentiment
pyrebase
googletrans
gensim==3.8.3
beautifulsoup4