
{% extends "profile/admin/admin-dashboard.html" %}
  {% block dashboardsection %}
                <form id="create-news" method="POST" class=" dashboard-form job-post-form" enctype="multipart/form-data">
                  <div class="dashboard-section basic-info-input">
                    <h4><i data-feather="user-check"></i>Edit News</h4>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Title</label>
                      <div class="col-md-9">
                        <input name="title"  type="text" class="form-control" value="{{news['title']}}">
                      </div>
                    </div>
                  <input type="hidden" name="id" value="{{news['id']}}">
                      

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Header image</label>
                        <div class="col-md-9">
                          <input id="image" name="image" type="file"  class="form-control">
                        </div>
                      </div> 
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Image</label>
                        <div class="col-md-9">
                          <img src="{{news['image']}}" width="200px" height="100px">
                        </div>
                      </div> 
                    <input type="hidden" name="backupimage" value="{{news['image']}}">
                    <div class="row">
                      <label class="col-md-3 col-form-label">Category</label>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <select name="category" class="form-control">
                                <option>Select Category</option>
                                <option value="accounting" {% if news.category == 'accounting' %} selected="selected" {% endif %} >Accounting</option>
                                <option value="technology"{% if news.category == 'technology' %} selected="selected" {% endif %}>Technology</option>
                                <option value="astrology"{% if news.category == 'astrology' %} selected="selected" {% endif %}>Astrology</option>
                                <option value="crime"{% if news.category == 'crime' %} selected="selected" {% endif %}>Crime</option>
                                <option value="education"{% if news.category == 'education' %} selected="selected" {% endif %}>Education</option>
                                <option value="cricket"{% if news.category == 'cricket' %} selected="selected" {% endif %}>Cricket</option>
                              </select>
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <label class="col-md-3 col-form-label">News Description</label>
                      <div class="col-md-9">
                        <textarea name="content" id="mytextarea" class="tinymce-editor tinymce-editor-1" placeholder="Description text here" >{{news['content']}}</textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Tags</label>
                      <div class="col-md-9">
                        <input  type="text" name="tags" class="form-control" value="{{ news['tags']}}">
                      </div>
                    </div>
                      <!-- <div class="form-group row">
                      <label class="col-md-3 col-form-label">Location</label>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <select  name="locality" class="form-control">
                                <option>State</option>
                                <option value="maharashtra">Maharahstra</option>
                                <option value="delhi">Delhi</option>
                                <option value="up">Uttar Pradesh</option>
                                <option value="madras">Madras</option>
                                <option value="kolkata">kolkata</option>
                              </select>
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="row">
                      <label class="col-md-3 col-form-label">About Company</label>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Company Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Web Address">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" placeholder="Company Profile"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
           
                    <!-- <div class="row">
                      <div class="col-md-9 offset-md-3">
                        <div class="form-group terms">
                          <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                          <label for="radio-4">
                            <span class="dot"></span> You accepts our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>
                          </label>
                        </div>
                      </div>
                    </div> -->
                    <input name="a" type="hidden" id="data" value="{{news['content']}}">
                    <div class="form-group row">
                      
                      <div class="col-md-9">
                        <input type="submit" class="button" value="Update News">
                        <div id="data-inserted" class="spinner-border" style="display:none; width: 3rem; height: 3rem;" role="status">
                          
                        </div>
                      </div>

                    </div>
<div id="data-inserted-msg" style="display: none;" class="form-group row">
  <div class="col-md-9 alert alert-success" role="alert">
    News Edited Success
  </div>
</div>
<div id="data-failed-msg" style="display: none;" class="form-group row">
  <div class="col-md-9 alert alert-warning" role="alert">
    Some Error Occured
  </div>
</div>
                  </div>
                </form>
             {% endblock %}
<!-- Custom Script -->
{% block customscript %}
<script>
  // this is the id of the form
  $("#create-news").submit(function(e) {
     $('#data-inserted').show()
   e.preventDefault(); // avoid to execute the actual submit of the form.
   var form = $(this);
   var url = form.attr('action');
   var formData = new FormData(this)
   var newsContent = tinymce.get("mytextarea").getContent();
   formData.append("content-news", newsContent);
   $.ajax({
          type: "POST",
          url: '/editnewsdata',
          data : formData,

          success: function(data)
          {
               $('#data-inserted').hide()
               $('#data-inserted-msg').show().fadeOut(6000,()=>{$('#success').hide()})// show response
          },
          cache: false,
          contentType: false,
          processData: false,
          error:function(data)
          {
              $('#data-inserted').hide()

               $('#data-failed-msg').show().fadeOut(6000,()=>{$('#failed').hide()})// show response
               console.log(data)
          }
         
        });
 
   
 });
</script>
{% endblock %}