

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Inshort Bharat - Admin Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/static/assets/css/et-line.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/assets/css/plyr.css" />
    <link rel="stylesheet" href="/static/assets/css/flag.css" />
    <link rel="stylesheet" href="/static/assets/css/slick.css" /> 
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/assets/css/jquery.nstSlider.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/dashboard/css/dashboard.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <!-- <link rel="icon" href="/static/images/favicon.png">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icon-114x114.png"> -->


    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header class="header-2">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <div class="logo-area">
                <!-- <a href="index.html"><img src="/static/images/logo-2.png" alt=""></a> -->
                <h3>Inshort Bharat</h3>
              </div>
              <div class="header-top-toggler">
                <div class="header-top-toggler-button"></div>
              </div>
              <div class="top-nav">
                <div class="dropdown header-top-account login-modals">
                  <button title="Title" type="button" data-toggle="modal" data-target="#exampleModalLong">Login</button>
                  <button title="Title" type="button" data-toggle="modal" data-target="#exampleModalLong2">Registration</button>
                </div>
                <select class="selectpicker select-language" data-width="fit">
                  <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                  <option  data-content='<span class="flag-icon flag-icon-in"></span> Hindi'>Hindi</option>
                </select>
              </div>
            </div>
            <nav class="navbar navbar-expand-lg cp-nav-2">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="menu-item active"><a title="Home" href="/">Home</a></li>
                  <li class="menu-item ">
                    <a href="/web-stories">Web Stories</a>
                  </li>
                  <li class="menu-item dropdown">
                    <a title="" href="/category" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Category</a>
                    <ul  class="dropdown-menu">
                      <li class="menu-item"><a  href="#">Dynamic render urls </a></li>

                    </ul>
                  </li>

                  <li class="menu-item"><a href="/category/tech">Tech</a></li>
                  <li class="menu-item"><a href="/category/astrology">Astrology</a></li>
                  <li class="menu-item"><a href="/category/entertainment">Entertainment</a></li>

                  <!-- <li class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Pages</a>
                    <ul  class="dropdown-menu">
                      <li class="menu-item"><a href="about-us.html">About Us</a></li>
                      <li class="menu-item"><a href="how-it-work.html">How It Works</a></li>
                      <li class="menu-item"><a href="pricing.html">Pricing Plan</a></li>
                      <li class="menu-item"><a href="faq.html">FAQ</a></li>
                      <li class="menu-item dropdown">
                        <a href="#" data-toggle="dropdown"  class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">News &amp; Advices</a>
                        <ul class="dropdown-menu">
                          <li class="menu-item"><a href="blog.html">News</a></li>
                          <li class="menu-item"><a href="blog-grid.html">News Grid</a></li>
                          <li class="menu-item"><a href="blog-details.html">News Details</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                      <li class="menu-item"><a href="payment-complete.html">Payment Complete</a></li>
                      <li class="menu-item"><a href="invoice.html">Invoice</a></li>
                      <li class="menu-item"><a href="terms-and-condition.html">Terms And Condition</a></li>
                      <li class="menu-item"><a href="404.html">404 Page</a></li>
                      <li class="menu-item"><a href="login.html">Login</a></li>
                      <li class="menu-item"><a href="register.html">Register</a></li>
                    </ul>
                  </li> -->
                  <li class="menu-item"><a href="/about-us">About Us</a></li>
                  <li class="menu-item"><a href="/faq">FAQ</a></li>
                  <li class="menu-item"><a href="/contact-us">Contact Us</a></li>
                  <li class="menu-item post-job"><a href="/account"><i class="fas fa-lock"></i>My Account</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- Modal -->
    <div class="account-entry">
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><i data-feather="user"></i>Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="#">
                <div class="form-group">
                  <input type="email" placeholder="Email Address" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <div class="more-option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Remember Me
                    </label>
                  </div>
                  <a href="#">Forget Password?</a>
                </div>
                <button class="button primary-bg btn-block">Login</button>
              </form>
              <div class="shortcut-login">
                <!-- <span>Or connect with</span>
                <div class="buttons">
                  <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                  <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                </div> -->
                <p>Don't have an account? <a href="#">Register</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><i data-feather="edit"></i>Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <div class="account-type">
                <label for="idRegisterCan">
                  <input id="idRegisterCan" type="radio" name="register">
                  <span>Candidate</span>
                </label>
                <label for="idRegisterEmp">
                  <input id="idRegisterEmp" type="radio" name="register">
                  <span>Employer</span>
                </label>
              </div> -->
              <form action="#">
                <div class="form-group">
                  <input type="text" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email Address" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <div class="more-option terms">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      I accept the <a href="#">terms & conditions</a>
                    </label>
                  </div>
                </div>
                <button class="button primary-bg btn-block">Register</button>
              </form>
              <div class="shortcut-login">
                <!-- <span>Or connect with</span>
                <div class="buttons">
                  <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                  <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                </div> -->
                <p>Already have an account? <a href="#">Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
    <div class="alice-bg section-padding-bottom">
      <div class="container no-gliters">
        <div class="row no-gliters">
          <div class="col">
            <div class="dashboard-container">
              <div class="dashboard-content-wrapper">
                <div class="dashboard-section user-statistic-block">
                  <div class="user-statistic">
                    <i data-feather="command"></i>
                    <h3>06</h3>
                    <span>Total Job Posted</span>
                  </div>
                  <div class="user-statistic">
                    <i data-feather="file-text"></i>
                    <h3>123</h3>
                    <span>Application Submit</span>
                  </div>
                  <div class="user-statistic">
                    <i data-feather="users"></i>
                    <h3>32</h3>
                    <span>Call for interview</span>
                  </div>
                </div>
                {% block dashboardsection %}
  
                {% endblock %}
              </div>



              <div class="dashboard-sidebar">
                <div class="company-info">
                  <div class="thumb">
                    <img src="dashboard/images/company-logo.png" class="img-fluid" alt="">
                  </div>
                  <div class="company-body">
                    <h5>Degoin</h5>
                    <span>@username</span>
                  </div>
                </div>
                <!-- <div class="profile-progress">
                  <div class="progress-item">
                    <div class="progress-head">
                      <p class="progress-on">Profile</p>
                    </div>
                    <div class="progress-body">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                      </div>
                      <p class="progress-to">70%</p>
                    </div>
                  </div>
                </div> -->
                <div class="dashboard-menu">
                  <ul>
                    <li class="active"><i class="fas fa-home"></i><a href="/admin-account">Dashboard</a></li>
                    <li><i class="fas fa-user"></i><a href="/admin-edit-account">Edit Profile</a></li>
                    
                    <li><i class="fas fa-plus-square"></i><a href="/create-news">Post News</a></li>
                    <li><i class="fas fa-briefcase"></i><a href="/edit-news">Manage News</a></li>
                  
                  </ul>
                  <ul class="delete">
                    <li><i class="fas fa-power-off"></i><a href="#">Logout</a></li>
                    <li><i class="fas fa-trash-alt"></i><a href="#" data-toggle="modal" data-target="#modal-delete">Delete Profile</a></li>
                  </ul>
                  <!-- Modal -->
                  <div class="modal fade modal-delete" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4><i data-feather="trash-2"></i>Delete Account</h4>
                          <p>Are you sure! You want to delete your profile. This can't be undone!</p>
                          <form action="#">
                            <div class="form-group">
                              <input type="password" class="form-control" placeholder="Enter password">
                            </div>
                            <div class="buttons">
                              <button class="delete-button">Save Update</button>
                              <button class="">Cancel</button>
                            </div>
                            <div class="form-group form-check">
                              <input type="checkbox" class="form-check-input" checked="">
                              <label class="form-check-label">You accepts our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

       <!-- Footer -->
       <footer class="footer-bg">
        <div class="footer-top border-bottom padding-bottom-40">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="footer-logo">
                  <a href="#">
                    <h4 > Inshort Bharat </h4>
                    <!-- <img src="/static/images/logo-main.png" class="img-fluid" alt=""> -->
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer-social">
                  <ul class="social-icons">
                    <li><a href="#"><i data-feather="facebook"></i></a></li>
                    <li><a href="#"><i data-feather="twitter"></i></a></li>
                    <li><a href="#"><i data-feather="linkedin"></i></a></li>
                    <li><a href="#"><i data-feather="instagram"></i></a></li>
                    <li><a href="#"><i data-feather="youtube"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-sm-6">
                <div class="footer-widget footer-shortcut-link">
                  <h4>Information</h4>
                  <div class="widget-inner">
                    <ul>
                      <li><a href="/faq">FAQ</a></li>
                      <li><a href="/about-us">About Us</a></li>
                      <li><a href="/contact-us">Contact Us</a></li>
                      <li><a href="/privacy-policy">Privacy Policy</a></li>
                      <li><a href="/terms-and-condition">Terms &amp; Conditions</a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="footer-widget footer-shortcut-link">
                  <h4>My Profile</h4>
                  <div class="widget-inner">
                    <ul>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/register">Create Account</a></li>
                      <li><a href="/myaccount">My Dashboard</a></li>
                      <li><a href="/logout">Logout</a></li>
  
  
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="footer-widget footer-shortcut-link">
                  <!-- <h4>Employers</h4> -->
                  <div class="widget-inner">
                    <!-- <ul>
                      <li><a href="#">Create Account</a></li>
                      <li><a href="#">Products/Service</a></li>
                      <li><a href="#">Post a Job</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1 col-sm-6">
                <div class="footer-widget footer-newsletter">
                  <h4>Newsletter</h4>
                  <p>Get e-mail updates about our latest news and Special offers.</p>
                  <form action="#" class="newsletter-form form-inline">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Email address...">
                    </div>
                    <button class="btn button primary-bg">Submit<i class="fas fa-caret-right"></i></button>
                    <p class="newsletter-error">0 - Please enter a value</p>
                    <p class="newsletter-success">Thank you for subscribing!</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom-area">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="footer-bottom border-top">
                  <div class="row">
                    <div class="col-lg-6">
                      <p class="copyright-text">Copyright <a href="#">Inshort Bharat</a> 2021, All right reserved neeldeshmukh.com</p>
                    </div>
                    <div class="col-lg-6">
                      <div class="back-to-top">
                        <a href="#">Back to top<i class="fas fa-angle-up"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer End -->
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/static/assets/js/jquery.min.js"></script>
      <script src="/static/assets/js/popper.min.js"></script>
      <script src="/static/assets/js/bootstrap.min.js"></script>
      <script src="/static/assets/js/feather.min.js"></script>
      <script src="/static/assets/js/bootstrap-select.min.js"></script>
      <script src="/static/assets/js/jquery.nstSlider.min.js"></script>
      <script src="/static/assets/js/owl.carousel.min.js"></script>
      <script src="/static/assets/js/visible.js"></script>
      <script src="/static/assets/js/jquery.countTo.js"></script>
      <script src="/static/assets/js/chart.js"></script>
      <script src="/static/assets/js/plyr.js"></script>
      <script src="/static/assets/js/tinymce.min.js"></script>
      <script src="/static/assets/js/slick.min.js"></script>
      <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>
  
      <script src="/static/js/custom.js"></script>
      <script src="/static/dashboard/js/dashboard.js"></script>
      <script src="/static/dashboard/js/datePicker.js"></script>
      <script src="/static/dashboard/js/upload-input.js"></script>
  
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
      <script src="/static/js/map.js"></script>
    </body>
  </html>