
{% extends "profile/admin/admin-dashboard.html" %}
  {% block dashboardsection %}
                <form id="create-news" action="/create-news" method="POST" class=" dashboard-form job-post-form" enctype="multipart/form-data">
                  <div class="dashboard-section basic-info-input">
                    <h4><i data-feather="user-check"></i>Post News</h4>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label">Title</label>
                      <div class="col-md-9">
                        <input name="title"  type="text" class="form-control" placeholder="Your News title here">
                      </div>
                    </div>
                  
                      <!-- <div class="form-group row">
                        <label class="col-md-3 col-form-label">Slug</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" readonly>
                        </div>
                      </div>  -->

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label">Header image</label>
                        <div class="col-md-9">
                          <input id="image" name="image" type="file"  class="form-control">
                        </div>
                      </div> 

                    <div class="row">
                      <label class="col-md-3 col-form-label">Category</label>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <select name="category" class="form-control">
                                <option>Select Category</option>
                                <option value="accounting">Accounting</option>
                                <option value="technology">Technology</option>
                                <option value="astrology">Astrology</option>
                                <option value="crime">Crime</option>
                                <option value="education">Education</option>
                                <option value="cricket">Cricket</option>
                              </select>
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-md-3 col-form-label">News Description</label>
                      <div class="col-md-9">
                        <textarea name="content" id="mytextarea" class="tinymce-editor tinymce-editor-1" placeholder="Description text here"></textarea>
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-md-3 col-form-label">Location</label>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <select  name="locality" class="form-control">
                                <option>State</option>
                                <option value="maharashtra">Maharahstra</option>
                                <option value="delhi">Delhi</option>
                                <option value="up">Uttar Pradesh</option>
                                <option value="madras">Madras</option>
                                <option value="kolkata">kolkata</option>
                              </select>
                              <i class="fa fa-caret-down"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <label class="col-md-3 col-form-label">About Company</label>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Company Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Web Address">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" placeholder="Company Profile"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                      <label class="col-md-3 col-form-label">Send News In Email</label>
                      <div class="col-md-9">
                        <div class="package-select">
                          <div class="package-select-inputs">
                            <div class="form-group">
                              <input name="bulk-email" class="custom-radio" type="radio" id="radio_1"  value="1">
                              <label for="radio_1">
                              <span class="dot"></span> <span class="package-type">Yes</span>
                            </label>
                            </div>
                            <div class="form-group">
                              <input name="bulk-email" class="custom-radio" type="radio" id="radio_2"  value="0">
                              <label for="radio_2">
                              <span class="dot"></span> <span class="package-type">No</span>
                            </label>
                            </div>
                          </div>
                          <!-- <div class="payment-method">
                            <a href="#" class="credit active"><i class="fas fa-credit-card"></i>Credit Card</a>
                            <a href="#" class="paypal"><i class="fab fa-cc-paypal"></i>PayPal</a>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-9 offset-md-3">
                        <div class="form-group terms">
                          <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                          <label for="radio-4">
                            <span class="dot"></span> You accepts our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>
                          </label>
                        </div>
                      </div>
                    </div> -->
                    <div class="form-group row">
                      
                      <div class="col-md-9">
                        <input type="submit" class="button" value="Publish News">
                        <div id="data-inserted" class="spinner-border" style="display:none; width: 3rem; height: 3rem;" role="status">
                          
                        </div>
                      </div>

                    </div>
<div id="data-inserted-msg" style="display: none;" class="form-group row">
  <div class="col-md-9 alert alert-success" role="alert">
    News Published Success
  </div>
</div>
<div id="data-failed-msg" style="display: none;" class="form-group row">
  <div class="col-md-9 alert alert-warning" role="alert">
    Some Error Occured
  </div>
</div>
                  </div>
                </form>
             {% endblock %}
<!-- Custom Script -->
{% block customscript %}
<script>
   // this is the id of the form
   $("#create-news").submit(function(e) {
      $('#data-inserted').show()
    e.preventDefault(); // avoid to execute the actual submit of the form.
  
    var form = $(this);
    var url = form.attr('action');
    var data = $('#create-news').serializeArray()
    var content = tinymce.get('mytextarea').getContent();
    var imagedata = new FormData($('#create-news')[0]);

    console.log(content)
    //add content in data
    data.push({name:'content-data',value:content})
    data.push({name:'image',value:imagedata})
    $.ajax({
           type: "POST",
           url: url,
           data: data, // serializes the form's elements.
           contentType: false,
           cache: false,
           processData: false,
           success: function(data)
           {
                $('#data-inserted').hide()
                $('#data-inserted-msg').show().fadeOut(6000,()=>{$('#success').hide()})// show response
           },
           error:function(data)
           {
                $('#data-failed-msg').show().fadeOut(6000,()=>{$('#failed').hide()})// show response
                console.log(data)
           }
          
         });
  
    
  });
</script>
{% endblock %}