{% extends "profile/admin/admin-dashboard.html" %}
{% block dashboardsection %}
                <div class="manage-job-container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Views</th>
                        <th>Published</th>
                        
                        <th class="action">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="job-items">
                        <td class="title">
                          <h5><a href="#">Land Development Marketer</a></h5>
 
                        </td>
                        <td class="application"><a href="#">6</a></td>
                        <td class="deadline">Oct 31,  2020</td>
                        <td class="status active">Active</td>
                        <td class="action">
                          <a href="#" class="preview" title="Preview"><i data-feather="eye"></i></a>
                          <a href="#" class="edit" title="Edit"><i data-feather="edit"></i></a>
                          <a href="#" class="remove" title="Delete"><i data-feather="trash-2"></i></a>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>

                  <!-- <div class="pagination-list text-center">
                    <nav class="navigation pagination">
                      <div class="nav-links">
                        <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                        <a class="page-numbers" href="#">1</a>
                        <span aria-current="page" class="page-numbers current">2</span>
                        <a class="page-numbers" href="#">3</a>
                        <a class="page-numbers" href="#">4</a>
                        <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                      </div>
                    </nav>                
                  </div> -->

                </div>
         
{% endblock %}