
{% extends "base.html" %}
{% block content %}
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="blog-post-wrapper">
              <article class="blog-list">
                <div class="info">
                  <span class="date">24th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>42</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">But I must explain to you how all</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">31th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Dorothy Kiger</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>16</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">Nor again is there anyone who loves pursues</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">17th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>24</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">Because it is pleasure but those</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">04th dec,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Samuel Alvarado</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>51</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">Who chooses to enjoy a pleasure </a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <article class="blog-list">
                <div class="info">
                  <span class="date">21th Nov,  2020</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>42</span>
                </div>
                <div class="content">
                  <h3><a href="blog-details.html">How to pursue pleasure rationally</a></h3>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release...</p>
                </div>
                <div class="read-more">
                  <a href="#" class="button">Read More</a>
                </div>
              </article>
              <div class="pagination-list text-center">
                <nav class="navigation pagination">
                  <div class="nav-links">
                    <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                    <a class="page-numbers" href="#">1</a>
                    <span aria-current="page" class="page-numbers current">2</span>
                    <a class="page-numbers" href="#">3</a>
                    <a class="page-numbers" href="#">4</a>
                    <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                  </div>
                </nav>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}