

{% extends "base.html" %}
{% block content %}
    <div class="padding-top-90 padding-bottom-90 access-page-bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="access-form">
              <div class="form-header">
                <h5><i data-feather="lock"></i>Forgot Password</h5>
              </div>
              <form action="#">
                <div class="row">

                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter Email" required>
                        </div>
                      </div>
    
                      <div class="w-100"></div>
                      <div class="col">

                        <button class="button primary-bg btn-block">Continue </button>
                      </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}