<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Oficiona</title>
 
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/static/assets/css/et-line.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/assets/css/plyr.css" />
    <link rel="stylesheet" href="/static/assets/css/flag.css" />
    <link rel="stylesheet" href="/static/assets/css/slick.css" /> 
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/assets/css/jquery.nstSlider.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.png">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icon-114x114.png">



    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header class="header-2 access-page-nav">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <div class="logo-area">
                <a href="index.html"><img src="images/logo-2.png" alt=""></a>
              </div>
              <div class="top-nav">
                <a href="register.html" class="account-page-link">Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="padding-top-90 padding-bottom-90 access-page-bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="access-form">
              <div class="form-header">
                <h5><i data-feather="user"></i>Login</h5>
              </div>
              <form action="#">
                <div class="form-group">
                  <input type="email" placeholder="Email Address" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control">
                </div>
                <div class="more-option">
                  <div class="mt-0 terms">
                    <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                    <label for="radio-4">
                      <span class="dot"></span> Remember Me
                    </label>
                  </div>
                  <a href="#">Forget Password?</a>
                </div>
                <button class="button primary-bg btn-block">Login</button>
              </form>
              <div class="shortcut-login">
                <span>Or connect with</span>
                <div class="buttons">
                  <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                  <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                </div>
                <p>Don't have an account? <a href="register.html">Register</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/feather.min.js"></script>
    <script src="/static/assets/js/bootstrap-select.min.js"></script>
    <script src="/static/assets/js/jquery.nstSlider.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/visible.js"></script>
    <script src="/static/assets/js/jquery.countTo.js"></script>
    <script src="/static/assets/js/chart.js"></script>
    <script src="/static/assets/js/plyr.js"></script>
    <script src="/static/assets/js/tinymce.min.js"></script>
    <script src="/static/assets/js/slick.min.js"></script>
    <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="/static/js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="/static/js/map.js"></script>
  </body>
</html>