{% extends "base.html" %}

{% block content %}

    <div class="section-padding-bottom alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-padding-150 error-page-wrap text-center white-bg">
              <div class="icon">
                <img src="/static/images/error.png" class="img-fluid" alt="">
              </div>
              <h1>404</h1>
              <p>we can't find the page your are looking for</p>
              <a href="/" class="button">Go Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
