
{% extends "base.html" %}

{% block content %}
    
    <div class="alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="white-bg others-block">
              <div class="about-company">
                <div class="row">
                  <div class="col-lg-6 order-lg-2">
                    <div class="feature-thumb">
                      <img src="/static/images/feature/thumb-1.png" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-6 order-lg-1">
                    <div class="feature-content">
                      <h3>Over 10,00,000 + News</h3>
                      <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                      <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                      <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. ver many web.</p>
                      <a href="/news" class="button">Start Reading</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="infobox-wrap">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="info-box">
                      <div class="icon">
                        <i data-feather="cast"></i>
                      </div>
                      <h4>Publish A News</h4>
                      <p>Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="info-box">
                      <div class="icon">
                        <i data-feather="layout"></i>
                      </div>
                      <h4>Read News</h4>
                      <p>Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="info-box">
                      <div class="icon">
                        <i data-feather="compass"></i>
                      </div>
                      <h4>Find Unbias News</h4>
                      <p>Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fun Facts -->
              <!-- <div class="padding-top-90 padding-bottom-60 fact-bg">
                <div class="container">
                  <div class="row fact-items">
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="briefcase"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="12376"></span></p>
                        <p class="fact-name">Live Readers</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="users"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="89562"></span></p>
                        <p class="fact-name">Candidate</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="file-text"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="28166"></span></p>
                        <p class="fact-name">Resume</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="award"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="1366"></span></p>
                        <p class="fact-name">Companies</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Candidates Details End -->

    {% endblock %}
