<!doctype html>
<html lang="en"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Inshort Bharat</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <script async src="https://cdn.ampproject.org/amp-story-player-v0.js"></script>
    <link href="https://cdn.ampproject.org/amp-story-player-v0.css" rel="stylesheet" type="text/css">
    <!-- External Css -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/static/assets/css/et-line.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/assets/css/plyr.css" />
    <link rel="stylesheet" href="/static/assets/css/flag.css" />
    <link rel="stylesheet" href="/static/assets/css/slick.css" /> 
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/assets/css/jquery.nstSlider.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <!-- <link rel="icon" href="/static/images/favicon.png"> -->
    <!-- <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icon-114x114.png"> -->


    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header class="header-2">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <div class="logo-area">
                <!-- <a href="index.html"><img src="/static/images/logo-2.png" alt=""></a> -->
                <h3>Inshort Bharat</h3>
              </div>
              <div class="header-top-toggler">
                <div class="header-top-toggler-button"></div>
              </div>
              <div class="top-nav">
                {% if session['name'] %}
                <div class="dropdown header-top-account login-modals">
                  <button title="{{session['name']}}" type="button" >Hey, {{session['name']}}</button>
                  <button title="Logout" type="button" ><a href="/logout">logout</a>  </button>
                
                </div>
                {% else %}
                <div class="dropdown header-top-account login-modals">
                  <button title="Login" type="button" data-toggle="modal" data-target="#exampleModalLong"><a href="/login">Login</a></button>
                  <button title="Register" type="button" data-toggle="modal" data-target="#exampleModalLong2"><a href="/register">Registration</a>  </button>
                </div>
                {% endif %}


                <form action="/?lang=hindi" method="get">
                  <select class="selectpicker select-language" data-width="fit" onchange="this.form.submit()">
                    <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                    <option selected data-content='<span class="flag-icon flag-icon-in"></span> Hindi'>Hindi</option>
                  </select>
                </form>

              </div>
            </div>
            <nav class="navbar navbar-expand-lg cp-nav-2">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="menu-item active"><a title="Home" href="/">Home</a></li>
                  <li class="menu-item ">
                    <a href="/web-stories">Web Stories</a>
                  </li>
                  <li class="menu-item dropdown">
                    <a title="" href="/category" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Category</a>
                    <ul  class="dropdown-menu">
                      <li class="menu-item"><a  href="#">Dynamic render urls </a></li>

                    </ul>
                  </li>

                  <li class="menu-item"><a href="/technology">Technology</a></li>
                  <!-- <li class="menu-item"><a href="/category/astrology">Astrology</a></li> -->
                  <li class="menu-item"><a href="/entertainment">Entertainment</a></li>

                  <!-- <li class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Pages</a>
                    <ul  class="dropdown-menu">
                      <li class="menu-item"><a href="about-us.html">About Us</a></li>
                      <li class="menu-item"><a href="how-it-work.html">How It Works</a></li>
                      <li class="menu-item"><a href="pricing.html">Pricing Plan</a></li>
                      <li class="menu-item"><a href="faq.html">FAQ</a></li>
                      <li class="menu-item dropdown">
                        <a href="#" data-toggle="dropdown"  class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">News &amp; Advices</a>
                        <ul class="dropdown-menu">
                          <li class="menu-item"><a href="blog.html">News</a></li>
                          <li class="menu-item"><a href="blog-grid.html">News Grid</a></li>
                          <li class="menu-item"><a href="blog-details.html">News Details</a></li>
                        </ul>
                      </li>
                      <li class="menu-item"><a href="checkout.html">Checkout</a></li>
                      <li class="menu-item"><a href="payment-complete.html">Payment Complete</a></li>
                      <li class="menu-item"><a href="invoice.html">Invoice</a></li>
                      <li class="menu-item"><a href="terms-and-condition.html">Terms And Condition</a></li>
                      <li class="menu-item"><a href="404.html">404 Page</a></li>
                      <li class="menu-item"><a href="login.html">Login</a></li>
                      <li class="menu-item"><a href="register.html">Register</a></li>
                    </ul>
                  </li> -->
                  <li class="menu-item"><a href="/about-us">About Us</a></li>
                  <li class="menu-item"><a href="/faq">FAQ</a></li>
                  <li class="menu-item"><a href="/contact-us">Contact Us</a></li>
                  <li class="menu-item post-job"><a href="/account"><i class="fas fa-lock"></i>My Account</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- Header End -->
 
<!-- Block Content -->
{% block content %}

{% endblock %}
<!-- End Block Content -->
    

    <!-- Footer -->
    <footer class="footer-bg">
      <div class="footer-top border-bottom section-padding-top padding-bottom-40">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-logo">
                <a href="#">
                  <h4 > Inshort Bharat </h4>
                  <!-- <img src="/static/images/logo-main.png" class="img-fluid" alt=""> -->
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-social">
                <ul class="social-icons">
                  <li><a href="#"><i data-feather="facebook"></i></a></li>
                  <li><a href="#"><i data-feather="twitter"></i></a></li>
                  <li><a href="#"><i data-feather="linkedin"></i></a></li>
                  <li><a href="#"><i data-feather="instagram"></i></a></li>
                  <li><a href="#"><i data-feather="youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-sm-6">
              <div class="footer-widget footer-shortcut-link">
                <h4>Information</h4>
                <div class="widget-inner">
                  <ul>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-and-condition">Terms &amp; Conditions</a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="footer-widget footer-shortcut-link">
                <h4>My Profile</h4>
                <div class="widget-inner">
                  <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Create Account</a></li>
                    <li><a href="/myaccount">My Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>


                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="footer-widget footer-shortcut-link">
                <h4>Editor Panel</h4>
                <div class="widget-inner">
                  <ul>
                    <li><a href="/admin-account">Admin Dashboard</a></li>
                    <li><a href="/admin-edit-account">Admin Edit Dashboard</a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-sm-6">
              <div class="footer-widget footer-newsletter">
                <h4>Newsletter</h4>
                <p>Get e-mail updates about our latest news and Special offers.</p>
                <form id="newsletter-submit" action="/newsletter" class="newsletter-form form-inline">
                  <div class="form-group">
                    <input name="email" type="text" class="form-control" placeholder="Email address...">
                  </div>
                  <button class="btn button primary-bg">Submit<i class="fas fa-caret-right"></i></button>
                  
                  <p id="success" class="newsletter-success">Thank you for subscribing!</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom-area">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="footer-bottom border-top">
                <div class="row">
                  <div class="col-lg-6">
                    <p class="copyright-text">Copyright <a href="#">Inshort Bharat</a> 2021, All right reserved neeldeshmukh.com</p>
                  </div>
                  <div class="col-lg-6">
                    <div class="back-to-top">
                      <a href="#">Back to top<i class="fas fa-angle-up"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/feather.min.js"></script>
    <script src="/static/assets/js/bootstrap-select.min.js"></script>
    <script src="/static/assets/js/jquery.nstSlider.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/visible.js"></script>
    <script src="/static/assets/js/jquery.countTo.js"></script>
    <script src="/static/assets/js/chart.js"></script>
    <script src="/static/assets/js/plyr.js"></script>
    <script src="/static/assets/js/tinymce.min.js"></script>
    <script src="/static/assets/js/slick.min.js"></script>
    <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="/static/js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="/static/js/map.js"></script>
    <script>
      // this is the id of the form
      $("#newsletter-submit").submit(function(e) {
      
        e.preventDefault(); // avoid to execute the actual submit of the form.
      
        var form = $(this);
        var url = form.attr('action');
        
        $.ajax({
               type: "POST",
               url: url,
               data: form.serialize(), // serializes the form's elements.
               success: function(data)
               {
                    $('#success').show().fadeOut(3000,()=>{$('#success').hide()})// show response
               },
               error:function(data)
               {
                    //$('#failed').show().fadeOut(3000,()=>{$('#failed').hide()})// show response
                    console.log(data)
               }
              
             });
      
        
      });
      </script>
{% block extrascript %}

{% endblock %}
  </body>
</html>