{% extends "base.html" %}

{% block content %}



    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="contact-block">
              <div class="row">
                <div class="col-lg-4">
                  <div class="contact-address">
                    <h4>Contact Info</h4>
                    <ul>
                      <li><i data-feather="map-pin"></i>Nalasopara West</li>
                      <li><i data-feather="mail"></i>deshmukhneel@gmail.com</li>
                      <li><i data-feather="phone-call"></i>+91 9876543219</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                  <div class="contact-form">
                    <h4>Keep In Touch</h4>
                    <form id="contact-form" action="/contact-us" method="POST">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input name="name" type="text" class="form-control" placeholder="Name">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="Email">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input name="phoneno" type="text" class="form-control" placeholder="Phone">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input name="subject" type="text" class="form-control" placeholder="Subject">
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <textarea name="message" class="form-control" placeholder="Message"></textarea>
                          </div>
                        </div>
                      </div>
                      <button id="contact" class="button">Submit</button>
                      <p id="success" class="input-success">Your message has been sent. Thanks for contact.</p>
                      <p id="failed" class="input-error">Something went wrong while sending. Please try leter.</p>
                    </form>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col">
                  <div id="map-area" class="contact-map">
                    <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>


    {% endblock %}

    {% block extrascript %}
<script>
// this is the id of the form
$("#contact-form").submit(function(e) {

  e.preventDefault(); // avoid to execute the actual submit of the form.

  var form = $(this);
  var url = form.attr('action');
  
  $.ajax({
         type: "POST",
         url: url,
         data: form.serialize(), // serializes the form's elements.
         success: function(data)
         {
              $('#success').show().fadeOut(3000,()=>{$('#success').hide()})// show response
         },
         error:function(data)
         {
              $('#failed').show().fadeOut(3000,()=>{$('#failed').hide()})// show response
         }
        
       });

  
});
</script>
    {% endblock %}